PUID=1000
PGID=1000
TIMEZONE=UTC
ROOT_MEDIA_PATH=/srv/media
SONARR_URL=http://sonarr:8989
RADARR_URL=http://radarr:7878
SONARR_API_KEY=replace-with-sonarr-api-key
RADARR_API_KEY=replace-with-radarr-api-key
JELLYFIN_API_KEY=replace-with-jellyfin-api-key
WEBHOOK_PORT=3000
