PUID=1000
PGID=1000
TIMEZONE=UTC
ROOT_MEDIA_PATH=/srv/media
SONARR_URL=http://sonarr:8989
RADARR_URL=http://radarr:7878
QBITTORRENT_URL=http://qbittorrent:8080
SONARR_API_KEY=replace-with-sonarr-api-key
RADARR_API_KEY=replace-with-radarr-api-key
JELLYFIN_API_KEY=replace-with-jellyfin-api-key
TMDB_API_KEY=replace-with-tmdb-api-key
WEBHOOK_PORT=3001
RADARR_QUALITY_PROFILE_ID=1
SONARR_QUALITY_PROFILE_ID=1
RADARR_ROOT_PATH=/data/media/movies
SONARR_ROOT_PATH=/data/media/tv
QBITTORRENT_COOKIE=
